<html>
    <head>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body id="BookForm">
        <div class="container">
            <div class="login-form">
                <div class="main-div">
                    <div class="panel">
                        <h2>Add Books</h2>
                        <p>Please enter book id, title and author name</p>
                    </div>
                    <form action="http://127.0.0.1:3000/create" method="post" id="Create">
                        <div class="form-group">
                            <input type="text" class="form-control" required name="bookid" placeholder="Book Id" pattern="[0-9]{1,5}" title="Book Id should only have numbers of min 1 and max 5 length." autofocus value="<%=bookid%>">
                            <p style="color:red;display:<%= display %>"><%= msg %></p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required name="booktitle" placeholder="Book Title" pattern="[A-Za-z0-9\s]{1,40}" title="Book Title should only have alphanumeric characters and space. Min length 1 and Max length 40 is permitted." value="<%=booktitle%>">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required name="bookauthor" placeholder="Book Author" pattern="[A-Za-z\s]{1,25}" title="Name should only have aplhabets and spaces. Max length is 25." value="<%=bookauthor%>">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>        
                    </form>         
                </div>
            </div>
        </div>
    </body>
</html>




